<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title || "Please Login" %></title>
    </head>
    <body>
        <nav>
            <ul>
                <% if (isAuthenticated) { %>
                <li><a href="">Create a Folder</a></li>
                <li><a href="">Upload a File</a></li>
                <li><a href="/log-out">Log Out</a></li>
                <% } else { %>
                <li><a href="/sign-in">Sign In</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
                <% } %>
            </ul>
        </nav>
        <h1>Welcome, <%= title || "Please Sign In" %></h1>
        <% if(isAuthenticate) { %>

        <!-- 顯示子資料夾 -->
        <h2>Subfolders:</h2>
        <ul>
            <% if (view.subfolders.length > 0) { %> <%
            view.subfolders.forEach(folder => { %>
            <li><%= folder.name %></li>
            <% }) %> <% } else { %>
            <p>No subfolders available.</p>
            <% } %>
        </ul>

        <!-- 顯示檔案 -->
        <h2>Files:</h2>
        <ul>
            <% if (view.files.length > 0) { %> <% view.files.forEach(file => {
            %>
            <li><%= file.name %></li>
            <% }) %> <% } else { %>
            <p>No files available.</p>
            <% } %>
        </ul>
        <% } %>
    </body>
</html>
